biopython==1.87
lxml==6.0.2
matplotlib==3.10.8
meeko==0.7.1
neo4j==6.1.0
networkx==3.6.1
numpy==2.4.4
pandas==3.0.2
plotly==6.6.0
python-dotenv==1.2.2
reportlab==4.4.10
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
streamlit==1.56.0
torch==2.11.0+cpu
tqdm==4.67.3
vina==1.2.7
anthropic==0.89.0
rdkit==2026.3.1
